<app-loading *ngIf="status.loading"></app-loading>
<app-retry
  *ngIf="!status.loading && !status.response"
  (onRetry)="ngOnInit()"
></app-retry>

<!-- <h1>ws conect</h1>
<span> {{ status.conected ? "conect" : "aoeu" }} </span> -->

<section *ngIf="!status.loading && status.response">
  <button
    #BtnNewMessage
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="collapse"
    data-bs-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    + Nuevo Mensaje
  </button>

  <form
    class="mb-3 collapse"
    id="collapseExample"
    [formGroup]="newMessageGroup"
  >
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="query" class="form-label">Pregunta</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="query"
            id=""
            aria-describedby="helpId"
            placeholder=" -- Agregue el mensaje --"
            formControlName="query"
            [ngClass]="{ 'is-invalid': isValid(newMessageGroup, 'query') }"
          />
          <small
            *ngIf="isValid(newMessageGroup, 'query')"
            id="helpId"
            class="form-text text-muted"
            >Help text</small
          >
        </div>
        <div class="mb-3">
          <label for="answer" class="form-label">Respuesta</label>
          <textarea
            type="text"
            class="form-control form-control-sm"
            name="answer"
            id=""
            aria-describedby="helpId"
            placeholder=" -- Agregue el mensaje --"
            formControlName="answer"
            rows="4"
            [ngClass]="{ 'is-invalid': isValid(newMessageGroup, 'answer') }"
          >
          </textarea>
          <small
            *ngIf="isValid(newMessageGroup, 'answer')"
            id="helpId"
            class="form-text text-muted"
            >Help text</small
          >
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="category" class="form-label">Categoria</label>
          <select
            class="form-select form-select-sm"
            name="category"
            id=""
            formControlName="category"
            [ngClass]="{ 'is-invalid': isValid(newMessageGroup, 'category') }"
          >
            <option value="" selected>-- Select one --</option>
            <option [value]="category.id" *ngFor="let category of categories">
              {{ category.description | titlecase }}
            </option>
          </select>
        </div>

        <div class="mb-1">
          <label for="startTime" class="form-label">Hora inicio</label>
          <input
            type="time"
            class="form-control form-control-sm"
            name="startTime"
            id=""
            aria-describedby="helpId"
            formControlName="startTime"
          />
          <!-- <small
            *ngIf="isValid(newMessageGroup, 'type')"
            id="helpId"
            class="form-text text-muted"
          >
            Help text
          </small> -->
        </div>
        <div class="mb-1">
          <label for="endTime" class="form-label">Hora fin</label>
          <input
            type="time"
            class="form-control form-control-sm"
            name="endTime"
            id=""
            aria-describedby="helpId"
            formControlName="endTime"
          />
          <!-- <small
            *ngIf="isValid(newMessageGroup, 'type')"
            id="helpId"
            class="form-text text-muted"
          >
            Help text
          </small> -->
        </div>
      </div>
    </div>

    <div class="text-end">
      <button
        *ngIf="!status.spinner"
        type="button"
        class="btn btn-primary me-3"
        (click)="save()"
      >
        Guardar
      </button>
      <button
        *ngIf="status.spinner"
        class="btn btn-primary"
        type="button"
        disabled
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Guardando...
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </form>

  <!-- <pre> {{newMessageGroup.value | json}} </pre> -->
  <div>
    <ul class="nav nav-tabs mb-3">
      <li
        *ngFor="let item of menu"
        class="nav-item"
        (click)="selecNavItem(item)"
      >
        <a
          class="nav-link"
          [ngClass]="{ 'active bg-primary text-white ': item.selected }"
        >
          {{ item.label | titlecase }}
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="menu[0].selected" class="table-responsive">
    <table
      class="table table-striped table-hover table-borderless align-middle"
    >
      <thead class="table-primary text-primary">
        <tr>
          <th class="">Pregunta</th>
          <th class="">Respuesta</th>
          <th class="text-center">Categoria</th>
          <th class="">Rango de horas</th>
          <th class=""> Acciones </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let msg of listMessages; index as i_msg" class="">
          <td >{{ msg.query }}</td>
          <td >{{ msg.answer }}</td>
          <td class="text-center">
            <span class="badge bg-primary"> {{ msg.category }} </span>
          </td>
          <td>
            {{ msg.startTime }} -
            {{ msg.endTime }}
          </td>
          <td>
            <i
              class="bi bi-pencil-square bg-white border rouded px-1 me-2"
              role="button"
              (click)="edit(msg, i_msg)"
            ></i>
            <i
              class="bi bi-trash text-danger bg-white border rouded px-1"
              role="button"
              (click)="erase(msg, i_msg)"
            ></i>
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>

  <div *ngIf="menu[1].selected">resuestas</div>
</section>

<!-- TODO: mandar este codigo de scan qr a un modal -->
<!-- <section class="row justify-content-center">
  <div class="col-4">
    <h2>Scan de QRCODE to use the app</h2>
    <ol>
      <li>Abre WhatsApp en tu teléfono</li>
      <li>
        Toca Menu <i class="bi bi-three-dots-vertical"></i> o Configuracion
        <i class="bi bi-gear"></i> y selecciona dispositivos vinculados
      </li>
      <li>
        Cuando se active la cámara, apunta tu teléfono hacia esta pantalla para
        escanear el código
      </li>
    </ol>
  </div>
  <div class="col-3" style="background-color: #eee">
    <div
      *ngIf="status.loadingQR"
      class="d-flex h-100 justify-content-center align-items-center"
    >
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div
      *ngIf="!status.loadingQR && !status.responseQR"
      class="h-100 text-center p-3"
    >
      <p class="mt-4">
        <i class="bi bi-arrow-clockwise fs-1 text-success"></i>
      </p>
      <button class="btn btn-outline-primary" (click)="getQRCODE()">
        Refresh code
      </button>
    </div>
    <div #qrcode *ngIf="!status.loadingQR && status.responseQR" class=""></div>
  </div>
</section> -->

<!-- codigo para otro tipo de form message -->

<!-- <div class="mb-3">
  <div class="row">
    <div class="col">
      <label for="date" class="form-label">Fecha</label>
    </div>
    <div class="col">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          formControlName="type"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">
          {{ newMessageGroup.value.type ? "Day" : "Hour" }}
        </label>
      </div>
    </div>
  </div>

  <input
    type="time"
    class="form-control form-control-sm"
    name="startTime"
    id=""
    aria-describedby="helpId"
    formControlName="startTime"
  />
  <small
    *ngIf="isValid(newMessageGroup, 'type')"
    id="helpId"
    class="form-text text-muted"
  >
    Help text
  </small>
</div> -->
