<h1>home works a!</h1>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="landing"> landing </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="contact"> contact </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/auth"> auth </a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink="./auth"> /auth </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="./auth/login"> login </a>
  </li> -->
</ul>
