<div
  class="row p-0 m-0 align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="col-8 col-sm-6 col-md-5">
    <form
      class="bg-white p-5 rounded shadow-lg"
      autocomplete="off"
      [formGroup]="registerForm"
      (ngSubmit)="register()"
    >
      <p class="fs-3 fw-bold mb-4 text-primary">Registro</p>
      <div class="mb-3">
        <span class="form-label">Nombre</span>
        <input
          class="form-control"
          type="text"
          formControlName="username"
          placeholder="Ingrese su nombre"
          [ngClass]="{
            'is-invalid': utils.isValidControl(registerForm, 'username')
          }"
        />
        <small
          *ngIf="utils.isValidControl(registerForm, 'username')"
          class="text-danger"
        >
          mínimo 2 letras
        </small>
      </div>
      <div class="mb-3">
        <span class="form-label">Email</span>
        <input
          class="form-control"
          type="email"
          formControlName="email"
          placeholder="Ingrese su email"
          [ngClass]="{
            'is-invalid': utils.isValidControl(registerForm, 'email')
          }"
        />
        <small
          *ngIf="utils.isValidControl(registerForm, 'email')"
          class="text-danger"
        >
          debe ser un correo valido example@gmail.com
        </small>
      </div>

      <div class="mb-3">
        <span class="form-label">Password</span>
        <input
          class="form-control"
          type="password"
          formControlName="password"
          placeholder="Ingrese su contraseña"
          [ngClass]="{
            'is-invalid': utils.isValidControl(registerForm, 'password')
          }"
        />
        <small
          *ngIf="utils.isValidControl(registerForm, 'password')"
          class="text-danger"
        >
          la contraseña debe tener minimo 8 caracteres, 1 mayuscula,1 minuscula,
          1 simbolo.
        </small>
      </div>

      <button class="btn btn-primary mb-3 d-block mx-auto" type="submit">
        Registro
      </button>

      <div class="mb-3 text-center">
        <span class=""> ¿Ya tienes cuenta? </span>

        <a routerLink="../login" class=""> Ingresa aquí </a>
      </div>
    </form>
  </div>
</div>
