<div
  class="row p-0 m-0 align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="col-8 col-sm-6 col-md-5">
    <div *ngIf="!isSend" class="bg-white p-5 rounded shadow-lg">
      <h3 class="fw-bold mb-4 text-primary">Forgot Password</h3>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          class="form-control"
          type="email"
          [formControl]="emailControl"
          placeholder="Ingrese su email"
          [ngClass]="{
            'is-invalid': utils.isValid(emailControl)
          }"
        />
        <small *ngIf="utils.isValid(emailControl)" class="text-danger">
          debe ser un correo valido example@gmail.com
        </small>
      </div>

      <button type="button" class="btn btn-primary" (click)="save()">
        Enviar
      </button>
    </div>

    <div *ngIf="isSend" class="bg-white p-5 rounded shadow-lg">
      <h3 class="fw-bold mb-4 text-primary">
        <i class="bi bi-envelope-check"></i> Correo enviado exitosamente
      </h3>
      <p class="text-center">Por favor revisa tu bandeja de entrada</p>
    </div>
  </div>
</div>
