<nav class="sidebar" [ngClass]="{ menu_extend: colapse }">
  <ul class="nav d-block">
    <li class="nav-item">
      <a
        href="javascript:void(0)"
        class="closebtn"
        (click)="colapse = !colapse"
      >
        &times;
      </a>
    </li>
    <li class="nav-item" *ngFor="let item of menu">
      <a
        [routerLink]="item.route"
        [routerLinkActive]="'classname'"
        class="nav-link text-black"
        [class]="item.icon"
      >
        {{ item.label | titlecase}}
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-black bi bi-box-arrow-left" (click)="logout()">
        Log out
      </a>
    </li>
  </ul>
</nav>

<main class="main" [ngClass]="{ menu_colapse: colapse }">
  <router-outlet></router-outlet>
</main>
