@import "./src/assets/scss/colors";

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 4rem; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: $bg-blue; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  border-left: 1rem solid $bg-blue;
}

/* The sidebar links */
.sidebar li {
  display: block;
  transition: 0.3s;
  border-radius: 1rem 0 0 1rem;
}

/* When you mouse over the navigation links, change their color */
.sidebar li:hover {
  // color: $bg-blue;
  background-color: $bg-white;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu_extend {
  width: 10rem;
}

.menu_colapse {
  margin-left: 10rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and li smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

// .navidation {
//   width: 10rem;
//   height: 100%;
//   border-left: 1rem solid $blue;
//   // transition: 300ms ease-in-out;
//   overflow: hidden;
//   ul {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//   }
//   li {
//     position: relative;
//   }
//   .hovered a,
//   li a {
//     color: white;
//     background-color: $blue;
//     border-radius: 1rem 0 0 1rem;
//   }
//   li:nth-child(1) {
//     margin-top: 1rem;
//     margin-bottom: 3rem;
//   }
//   li:last-child {
//     margin-top: auto;
//     color: red !important;
//   }
//   .hovered a,
//   li:hover a {
//     background-color: white;
//     border-radius: 1rem 0 0 1rem;
//     color: $blue;
//   }

//   li:hover a::after,
//   .hovered a::after {
//     content: "";
//     position: absolute;
//     right: 0;
//     top: -1rem;
//     width: 1rem;
//     height: 1rem;
//     background-color: transparent;
//     border-radius: 1rem;
//     box-shadow: 1rem 1rem 0 0.5rem white;
//   }
//   li:hover a::before,
//   .hovered a::before {
//     content: "";
//     position: absolute;
//     right: 0;
//     bottom: -1rem;
//     width: 1rem;
//     height: 1rem;
//     background-color: transparent;
//     border-radius: 1rem;
//     box-shadow: 1rem -1rem 0 0.5rem white;
//     z-index: 1;
//   }
// }

// main {
//   position: absolute;
//   left: 10rem;
//   width: calc(100% - 10rem);
//   transition: 300ms ease-in-out;
// }
// .extend {
//   left: 4rem;
//   width: calc(100% - 4rem);
// }

// .colapse {
//   width: 4rem;
// }
