<!-- <div class="row">
<div class="col-4">
  <app-side-menu></app-side-menu>
</div>
<div class="col-8">
  <router-outlet ></router-outlet>
</div>
</div> -->

<nav class="">
  <ul
    class="nav flex-column fixed-top bg-primary navidation"
    [ngClass]="{ colapse: colapse }"
  >
    <li class="nav-item">
      <a
        routerLink="./brand"
        routerLinkActive="hovered"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link ps-2"
        (click)="toggleMenu()"
        
      >
        <i class="bi bi-building"></i>
        <span *ngIf="!colapse"> Brand name </span>
      </a>
    </li>
    <li *ngFor="let item of menu" class="nav-item">
      <a
        [routerLink]="item.route"
        routerLinkActive="hovered"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link ps-2 "
        (click)="item?.function()"
      >
        <i [class]="item.icon"></i>
        <span class="ps-3" *ngIf="!colapse"> {{ item.label }} </span>
      </a>
    </li>
  </ul>
</nav>
<main class="p-3" [ngClass]="{ extend: colapse }">
  <router-outlet></router-outlet>
  <button class="btn btn-primary" (click)="logout()"> log out</button>
</main>

