<div
  class="row p-0 m-0 align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="col-8 col-sm-6 col-md-5">
    <div *ngIf="!isSend" class="bg-white p-5 rounded shadow-lg">
      <h3 class="fw-bold mb-4 text-primary">Restore Password</h3>
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input
          id="password"
          class="form-control"
          type="password"
          [formControl]="passwordControl"
          placeholder="Ingrese su contraseña"
          [ngClass]="{
            'is-invalid': utils.isValid(passwordControl)
          }"
        />
        <small *ngIf="utils.isValid(passwordControl)" class="text-danger">
          la contraseña debe tener minimo 8 caracteres, 1 mayuscula,1 minuscula,
          1 simbolo.
        </small>
      </div>

      <button type="button" class="btn btn-primary" (click)="save()">
        Enviar
      </button>
    </div>

    <div *ngIf="isSend" class="col-8 col-sm-6 col-md-5">
      <div class="bg-white p-5 rounded shadow-lg">
        <h3 class="fw-bold mb-4 text-primary">
          <i class="bi bi-envelope-check"></i> Contraseña cambiada!
        </h3>
        <p class="">Ya puede usar la aplicacion</p>
        <div class="mb-3 text-center">
          <a routerLink="../login" class="btn btn-primary"> Login </a>
        </div>
      </div>
    </div>

  </div>
</div>
